# Gradle (exclude everything except gradle wrapper)
.gradle/
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
!gradle/wrapper/

# Build output
build/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
run/
logs/

# OS
.DS_Store
Thumbs.db